

/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */
body {
    background: #F0F0F7;
    overflow: hidden;
}

a,
a:hover,
a:focus {
    color:white;
    text-decoration: none;
}
/* ---------------------------------------------------
    NAVIGATIONBAR STYLE
----------------------------------------------------- */
#nav{
    position: absolute;
    left: 250px; 
    padding: 10px;
    background-color: white;
    width: 84%;
}

#nav.active {
    position: absolute;
    left:80px;
    min-width: 201vh;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 250px;
    background: #43425D;
    min-height: 100%;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar p{
    display: inline;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs,
#sidebar.active p,
#sidebar.active img,
#sidebar.active h3{
    display: none;
}

#sidebar #icon{
    display: none;
}

#sidebar.active #icon{
    display: block;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar .sidebar-header {
    padding: 20px;
    margin-bottom: 10px;
    background: #33334f;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background: #33334f;
}

.dropdown-toggle::after {
    display: none !important;
    position: absolute;
    right: 20px;
}

.sidebar-header button{
    color: white;
    background-color:#33334f;
    border: none;
}

#sidebar img{
    position: absolute;
    bottom: 10px; 
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    min-height: 100vh;
    margin-left: 290px;
}

#content.active {
    margin-left: 125px;
}

.div1{
    background-color: white;
}

#content h6{
    font-size:25px;
    margin-top:60px;
    color: #43425D;
    margin-bottom: 30px;
}

.card{
    background-color: white;
    height: 150px;
    max-width: 300px;

}

.card p{
    color: #43425D;
    margin: 15px 0px 25px 0px;
}

.card h4{
    font-size: 25px;
    color: #4D4F5C;
}

.card img{
width: 150px;
}

.maintable{
    background-color: white;
    margin-top: 40px;
    width: 550px;
}

.maintable .table{
    margin: 30px 50px 20px;
    width: 450px;
    border: #F1F1F3;
}

.table .row1{
    background-color: #F5F6FA;
    border: #F5F6FA;
}

.row1 th{
    color:#A3A6B4;
    border-top: none;
}

.table td{
    color:#4D4F5C;
}

.d-flex{
    display: flex;
}
.justify-space-between{
    justify-content: space-between;
}


@media  (min-width:375px) and (max-width:540px) {
    #nav{
        width: auto;
    }
    .justify-space-between{
        /* width: 50%; */
        justify-content: space-between;
    }
    .d-flex{
        display: flex;
        flex: 100%;
        width: 84%;
    }
}
